*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/ice/saber/ice/ansq_page.java
app/build.gradle
app/build.gradle
*.xml
*.xml
.idea/encodings.xml
